<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>¡Error!</h1>
    <p class="subtitulo">Algo salió mal</p>

    <p class="error" th:if="${message != null}" th:text="${message}"></p>

    <div th:if="${errors != null and !errors.isEmpty()}">
        <ul>
            <li th:each="error : ${errors}" th:text="${error}"></li>
        </ul>
    </div>

    <div class="acciones">
        <a class="btn" th:href="@{/home}">Volver al Inicio</a>
    </div>
</div>
</body>
</html>