<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Lista de Usuarios</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.codigoUsuario}"></td>
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.rol}"></td>
            <td th:text="${usuario.estado} ? 'Activo' : 'Inactivo'"></td>
            <td>
                <a class="btn-secundario" th:href="@{/usuario/editar/{id}(id=${usuario.codigoUsuario})}">Editar</a>
                <a class="btn-cancelar" th:href="@{/usuario/eliminar/{id}(id=${usuario.codigoUsuario})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="acciones">
        <a class="btn" th:href="@{/usuario/nuevo}">Nuevo</a>
        <a class="btn-secundario" th:href="@{/home}">Volver</a>
    </div>
</div>
</body>
</html>